a {
  @include typeface-2();
  text-decoration: none;
  color: $black;

  transition: 0.5s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  background: linear-gradient(221deg, $secondary, $primary);
  border-radius: 16px;
  padding: 12px 32px;
  color: $white;

  transition: 0.1s ease;

  box-shadow:
    0px 17px 17px rgba(169, 80, 196, 0.13),
    0px 5.125px 5.1251px rgba(169, 80, 196, 0.08),
    0px 2.12px 2.12px rgba(169, 80, 196, 0.06),
    0px 0.76px 0.76px rgba(169, 80, 196, 0.4);

  &:hover {
    box-shadow:
      0px 17px 31px rgba(169, 80, 196, 0.27),
      0px 5.125px 9.1251px rgba(169, 80, 196, 0.17),
      0px 2.12px 3.88px rgba(169, 80, 196, 0.13),
      0px 0.76px 1.4px rgba(169, 80, 196, 0.9);
  }
}
