// Brand Colors
$primary: #82269E;
$primary-light: #9C4FB4;
$primary-dark: #701F88;

$secondary-2: #A950C4;
$secondary-2-light: #BB71D2;
$secondary-2-dark: #9142A8;

// Auxiliary Colors
$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

// White Colors
$white: #F3F0F5;
$white-light: #FBF8FC;
$white-dark: #EDEAEF;

// Black Colors
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

// Gray Colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Gradient Colors